<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="style.css" rel="stylesheet">
  <title>Calendar2021</title>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

  <div id="app">
    <h1>2021 Calendar!!</h1>
    <div id="menu">
      <month-menu
        v-for="date in dates"
        :year="date.year"
        :month="date.month"
        @clicked-display-button="getCalendar"
      >
      </month-menu>
    </div>
    <br>
    <!--カレンダー -->
    <table border="1">
      <tr>
        　<!--headerに曜日を描画 -->
        <th v-for="header in headers">{{ header }}</th>
      </tr>
      <tr v-for="oneweek in dateObjects">
        <!-- 日付を描画 -->
        <td v-for="date in oneweek">{{ date | addDate }}</td>
      </tr>
    </table>
    <!--カレンダー -->
  </div>

  </div>
<script src="script.js"></script>
</body>
</html>
