td {
  height: 100px;
}
table{
  width: 500px;
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px;
}
button{
  margin-right: 1px;
}
#menu {
  text-align:center;
}
h1 {
  text-align:center;
}
